body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
  background-color: #f8f8f8;
}

.sidebar {
  width: 220px;
  background-color: #2e5077;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar .logo {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li.active,
.sidebar nav ul li:hover {
  background-color: #1c3b5b;
  padding: 5px;
  border-radius: 5px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.logout {
  margin-top: auto;
  text-align: center;
}

.contenido {
  flex-grow: 1;
  padding: 40px;
}

.card {
  background: #f1eded;
  padding: 30px;
  border-radius: 12px;
  max-width: 900px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.form-group .col {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #2e5077;
  color: white;
  border: none;
  padding: 10px 30px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.titulo-envio {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #2e2e2e;
}

